// vars 
$primary :#810567;








// Fonts 


// English 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  transition: .2s linear;
  -webkit-transition: .2s linear;
  -moz-transition: .2s linear;
  -ms-transition: .2s linear;
  -o-transition: .2s linear;
}

body {
  overflow-x:hidden;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    color: inherit;
  }
}

// Scroll 
body::-webkit-scrollbar {
  width: 8px;               
}

body::-webkit-scrollbar-track {
  background: white;        
}

body::-webkit-scrollbar-thumb {
  background-color: $primary;    
  border-radius: 20px;       
}

svg {
  transition: .2s !important;
  -webkit-transition: .2s !important;
  -moz-transition: .2s !important;
  -ms-transition: .2s !important;
  -o-transition: .2s !important;
}

.register {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #810566ba;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  


  .content {
    text-align: center;
    background-color: white;
    padding: 40px 70px 30px;
    border-radius: 22px;
    position: relative;
    min-width: 350px;

    .icon {
      position: absolute;
      top: 20px;
      right: 20px;
      cursor: pointer;

      &:hover {
        color: $primary;
      }
    }

    h2 {
      font-size: 21px;
      font-weight: 600;
      margin-bottom: 64px;
      color: $primary;
    }

    form {
      display: flex;
      flex-direction: column;

      input {
        padding: 12px 24px;
        border-radius: 7px;
        border: solid 1px #810567;
        font-size: 11px;
        font-weight: 600;
        color: $primary;
        width: 270px;

        &::placeholder {
          font-size: 11px;
          font-weight: 600;
          color: #ac0a944e;
        }

        margin-bottom: 23px;


        &:last-of-type{
          margin-bottom: 90px;
        }

        &:focus {
          outline: none;
        }
      }

      button {
        font-size: 18px;
        font-weight: 600;
        background-color: $primary;
        border-radius: 7px;
        color: white;
        padding: 10px 0;

        &:hover {
          background-color: #63044e;
        }
      }
    }
  }
  
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }

  &.activation .content form {
    input {
      display: block;
      margin: 0 auto 100px;
      border: none;
      padding: 0 0 10px 0;
      width: 6ch;
      background: repeating-linear-gradient(90deg, $primary 0, $primary 1ch, transparent 0, transparent 1.5ch) 0 100%/10ch 2px no-repeat;
      font: 5ch droid sans mono, consolas, monospace;
      letter-spacing: 0.5ch;
      color: $primary;
      text-transform: uppercase;
    }
  }
  
  
}

.navbar {
  padding: 60px 0 47px;
  
  .container {
    position: relative;
  }

  .logo {

    img {
      max-width: 100%;
    }
  }

  img:hover {
    cursor: pointer;
  }

  .search {
    flex: 1;
    max-width: 320px;
    position: relative;

    input {
      width: 100%;
      border-radius: 7px;
      background-color: #f0f0f5;
      border: none;
      padding: 8px 15px;
      box-shadow: none;
      outline: none;
      
      border-radius: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
    }

    > img {
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
    }
  }

  .icons {
    .lang {
      padding: 4px;
      background-color: $primary;
      font-size: 10px;
      color: white;
      cursor: pointer;
    }
  }
  
  .profile {
    .image {
      width: 33px;
      height: 33px;

      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
      }
    }
    .name {
      h3 {
        font-size: 7px;
        font-weight: 600;
        line-height: 0.43;
        color: $primary;
      }
      h2 {
        font-size: 11px;
        font-weight: 600;
        line-height: 0.45;
        color: #24242e;
      }
    }
  }

  .menu-btn {
    font-size: 25px;
    cursor: pointer;
    display: none;
  }

  .menu {
    display: none;
    position: absolute;
    top: 110%;
    right: 0;
    width: 200px;
    background-color: $primary;
    z-index: 100000;
    overflow: hidden;

    a {
      text-decoration: none;
    }

    li {
      list-style: none;
      padding:15px 0px;
      text-align: center;
      color: white;
      font-weight: 500;

      &:hover {

        background-color: #690553;


        &.sign-out {
          color: red;
        }
      }


      
    }

    &.active {
      display: block;
    }

    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }
  
}

.selection {

  span {
    color: white;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    display: block;
    padding: 10px 40px;
    min-width: 100px;



    &:nth-child(n) {
      background-color: #e67588;
      
    }
    &:nth-child(2n) {
      background-color: #68cde4;
      
    }
    &:nth-child(3n) {
      background-color: #c275e6;
      
    }
    &:nth-child(4n) {
      background-color: #79e675;
      
    }

    &:hover {
      background-color: $primary;
    }
    
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    justify-content: space-between;
  }
}

.select-type {
  padding-top: 50px;

  select {
    border: none;
    border: 2px solid $primary;
    color: $primary;
    text-transform: capitalize;
    font-weight: 500;
    
    &:focus {
      outline: none;
    }
  }
}
// Home
#tones-home {
  padding-top: 50px;
  padding-bottom: 150px;

  .type > .header {
    svg {
      font-size: 40px;
      color: $primary;
    }

    h2 {
      font-weight: 600;
      font-size: 30px;
    }
  }

  .my-row {
    display: flex;
    justify-content: space-between;

    h2 {
      font-size: 20px;
      font-weight: 600;
      line-height: 0.53;
      color: $primary;
      text-align: center;
    }

    .image {
      margin-bottom: 20px;
      height: auto;
      height: 300px;
      overflow: hidden;
      position: relative;

      &:hover {

        .hover {
          opacity: 1;
          cursor: pointer;
        }

        img {
          transform: scale(1.1) rotate(2deg);
          -webkit-transform: scale(1.1) rotate(2deg);
          -moz-transform: scale(1.1) rotate(2deg);
          -ms-transform: scale(1.1) rotate(2deg);
          -o-transform: scale(1.1) rotate(2deg);
}
      }

      .hover {
        opacity:0 ;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #810566b3;
        width: 100%;
        height: 100%;

        .heart {
          position: absolute;
          font-size: 20px;
          top: 20px;
          left: 20px;
          color: white;

          &:hover , &.active {
            color: red;
          }
        }

        .play {
          max-width: 50px;
          max-height: 50px;
          position: absolute;
          top: 50%;
          left: 50%;

          &:hover , &.active {
            filter: brightness(2);
          }
          
          transform: translate(-50% , -50%);
          -webkit-transform: translate(-50% , -50%);
          -moz-transform: translate(-50% , -50%);
          -ms-transform: translate(-50% , -50%);
          -o-transform: translate(-50% , -50%);
        }

        transition: .5s;
        -webkit-transition: .5s;
        -moz-transition: .5s;
        -ms-transition: .5s;
        -o-transition: .5s;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
    }

    .player {
      display: none;
      position: fixed;
      width: 100.5%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 12;
      align-items: center;
      justify-content: center;
      padding: 20px 0 20px;
      background-color: white;

      &.active {
        display: flex;
      }

      .content {
        width: 100%;
        height: 100%;
        text-align: center;
        
        .icon {
          position: absolute;
          top: 0px;
          right: 5px;
          cursor: pointer;
          
          &:hover {
            color: $primary;
          }
        }

        img {
          width: 170px;
          height: 170px;
          margin-bottom: 20px;
          border-radius: 20px;
          -webkit-border-radius: 20px;
          -moz-border-radius: 20px;
          -ms-border-radius: 20px;
          -o-border-radius: 20px;
        }

        h2 {
          font-size: 16px;
        }

        button {
          width: 80%;
          background-color: $primary;
          border: none;
          color: white;
          font-weight: 500;

          &:hover {
            background-color: #580346;
          }
        }

        .price {
          font-size: 18px;
          font-weight: 600;
          line-height: 0.44;
          color: #ac0a93;

          span {
            font-size: 10px;
            font-weight: 600;
            line-height: 0.4;
          }
        }

        p {
          font-size: 10px;
          font-weight: 600;
          color: #454545;
        }

        border-radius:22px ;
        -webkit-border-radius:22px ;
        -moz-border-radius:22px ;
        -ms-border-radius:22px ;
        -o-border-radius:22px ;
      } 
    }
    
  }
}
// Swiper 
.swiper-button-next, .swiper-button-prev {
  color: $primary !important;
  font-weight: 900;
  text-shadow: 0px 0px 5px black;
}
// Type Page 
#tones-type {
  padding-top: 50px;
  padding-bottom: 150px;

  .row {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;

    h2 {
      font-size: 20px;
      font-weight: 600;
      line-height: 0.53;
      color: $primary;
      text-align: center;
    }

    .image {
      margin-bottom: 20px;
      height: auto;
      height: 300px;
      overflow: hidden;
      position: relative;

      &:hover {

        .hover {
          opacity: 1;
          cursor: pointer;
        }

        img {
          transform: scale(1.1) rotate(2deg);
          -webkit-transform: scale(1.1) rotate(2deg);
          -moz-transform: scale(1.1) rotate(2deg);
          -ms-transform: scale(1.1) rotate(2deg);
          -o-transform: scale(1.1) rotate(2deg);
}
      }

      .hover {
        opacity:0 ;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #810566b3;
        width: 100%;
        height: 100%;

        .heart {
          position: absolute;
          font-size: 20px;
          top: 20px;
          left: 20px;
          color: white;

          &:hover , &.active {
            color: red;
          }
        }

        .play {
          max-width: 50px;
          max-height: 50px;
          position: absolute;
          top: 50%;
          left: 50%;

          &:hover , &.active {
            filter: brightness(2);
          }
          
          transform: translate(-50% , -50%);
          -webkit-transform: translate(-50% , -50%);
          -moz-transform: translate(-50% , -50%);
          -ms-transform: translate(-50% , -50%);
          -o-transform: translate(-50% , -50%);
        }

        transition: .5s;
        -webkit-transition: .5s;
        -moz-transition: .5s;
        -ms-transition: .5s;
        -o-transition: .5s;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
    }

    .player {
      display: none;
      position: fixed;
      width: 100%;
      height: 100vh;
      top: 0;
      left: 0;
      background-color:#810566bc;
      z-index: 12;
      align-items: center;
      justify-content: center;

      &.active {
        display: flex;
      }

      .content {
        max-width: 410px;
        padding: 30px 100px;
        background-color: white;
        position: relative;

        .icon {
          position: absolute;
          top: 20px;
          right: 20px;
          cursor: pointer;
          
          &:hover {
            color: $primary;
          }
        }

        img {
          width: 170px;
          height: 170px;
          margin-bottom: 20px;
          border-radius: 20px;
          -webkit-border-radius: 20px;
          -moz-border-radius: 20px;
          -ms-border-radius: 20px;
          -o-border-radius: 20px;
        }

        h2 {
          font-size: 16px;
        }

        button {
          width: 100%;
          background-color: $primary;
          border: none;
          color: white;
          font-weight: 500;

          &:hover {
            background-color: #580346;
          }
        }

        .price {
          font-size: 18px;
          font-weight: 600;
          line-height: 0.44;
          color: #ac0a93;

          span {
            font-size: 10px;
            font-weight: 600;
            line-height: 0.4;
          }
        }

        p {
          font-size: 10px;
          font-weight: 600;
          color: #454545;
        }

        border-radius:22px ;
        -webkit-border-radius:22px ;
        -moz-border-radius:22px ;
        -ms-border-radius:22px ;
        -o-border-radius:22px ;
      } 
    }
    
  }

  .header {

    margin-bottom: 60px;
    
    svg {
      font-size: 40px;
      color: $primary;
    }

    h2 {
      font-weight: 600;
      font-size: 30px;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        bottom: -15px;
        left: 50%;
        width: 70%;
        height: 3px;
        background-color: $primary;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
      }
    }
  }
}

// profile 
.profileData {

  margin-bottom: 200px;
  
  .container {
    padding: 20px 50px 200px;
    background-color: #81056613;

    .image {

      position: relative;
      width: fit-content;
      overflow: hidden;
      margin: 0 auto 50px;
      
      input {display: none;}

      &:hover {
        label {display: flex;}
      }
      
      label {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: white;
        background-color: rgba(0, 0, 0, 0.555);
        align-items: center;
        justify-content: center;
        cursor: pointer;
        display: none;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
      }
      
      img {
        width: 105px;
        height: 105px;
      }
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
    }
    
    form {
      .input {
        position: relative;
        width: fit-content;

        label {
          position: absolute;
          right: 5px;
          bottom: 8px;
          font-size: 11px;
          font-weight: 800;
          color: #810567;
          cursor: pointer;
          text-transform: uppercase;
        }
        
        input {
          border: none;
          border-bottom: 1px solid $primary;
          padding: 8px 30px 8px 0;
          background-color: transparent;
          font-size: 14px;
          font-weight: 500;
          color: #24242e;
          width: 450px;

          &:focus {
            outline: none;
          }

          &::placeholder {
            font-size: 14px;
            font-weight: 500;
            color: #24242e;
          }
        }
        
      }
    }
    
    
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }


}

//footer
.footer {
  background-color: #383838;
  padding-top: 60px;
  padding-bottom: 20px;


  .row {
    border-bottom: 1px solid $primary;
    padding-bottom: 40px;
    margin-bottom: 20px;
    justify-content: space-between;
    gap: 20px 0;


      a {
      text-decoration: none;

      li {
        font-size: 14px;
        line-height: 2.03;
        color: #fff;
        list-style: none;
        font-weight: 500;
        text-transform: capitalize;
        white-space: nowrap;
        padding: 10px 0;

        &:hover {
          color: $primary;
        }
      }
    }
  }

  .rights {
    font-size: 14px;
    line-height: 2.03;
    color: #fff;
    list-style: none;
    font-weight: 500;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 0;
  }
}


@media (max-width:768px) {

  .navbar {
    padding: 30px 0 20px;
  
    .icons {
      display: none !important;
    }

    .profile {
      display: none !important;
    }

    .logo {
      max-width: 100px;
      img {
        max-width: 100%;
      }
    }

    .menu-btn {
      display: block;
    }

  }
  
  .tones {
    .row {
      h2 {
        font-size: 16px;
      }
      .image {
        height: 150px;
      }
    }
  }

  .selection span {
    font-size: 13px;
    padding: 10px 20px;
  }

  .carousel-indicators {
    display: none !important;
  }

  .carousel-control-next, .carousel-control-prev {
    width: 8%;
  }

  .profileData {
    
    .container {
      
      form {
        .input {
          width: 100%;
          input {
            width: 100%;
          }
          
        }
      }
      
    }
  
  
  }
}